.displayMarketingSectionContainer {
  width: 100%;
  min-height: 700px;
  padding-top: 30px;
  background: var(--secondary-section-bg-color);
  color: var(--secondary-text-color);
  position: relative;
}

.displayMarketingSectionInnerContainer {
  max-width: 1600px;
  width: 100%;
  min-height: 440px;
  margin: 0 auto;
  display: flex;
}

.displayMarketingSectionInnerContainer .displayMarketingSectionContentContainer,
.displayMarketingSectionInnerContainer .displayMarketingSectionImgContainer {
  width: 50%;
  height: 100%;
  display: grid;
}

.displayMarketingSectionInnerContainer
  .displayMarketingSectionContentContainer
  p:first-child {
  font-size: 1.4vw;
  margin-top: 80px;
  margin-bottom: 20px;
}

.displayMarketingSectionInnerContainer
  .displayMarketingSectionContentContainer
  p:nth-child(2) {
  font-size: 0.8vw;
}

.displayMarketingSectionInnerContainer
  .displayMarketingSectionContentContainer
  p:nth-child(2)
  span {
  font-weight: bold;
}

.displayMarketingSectionInnerContainer
  .displayMarketingSectionImgContainer
  img {
  width: 90%;
  height: auto;
  margin: auto;
}

.displayMarketingSectionInnerContainer .displayMarketingSectionButtonContainer {
  width: 250px;
  height: 50px;
  margin: 50px 0;
  border-radius: 25px;
  background: var(--third-section-bg-color);
}

.displayMarketingSectionInnerContainer
  .displayMarketingSectionButtonContainer
  a {
  width: 250px;
  height: 50px;
  margin: auto;
  color: var(--third-text-color);
  text-decoration: none;
  text-align: center;
  display: grid;
  align-items: center;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 500px) {
}
