.newsCardContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
}

.newsImgContainer {
  height: 150px;
}

.newsImgContainer img {
  width: 100%;
  height: 100%;
}

.newsLink {
  text-decoration: none;
  color: #000;
}

.newsHeadLine {
  width: 90%;
  font-size: 20px;
  padding: 5px 20px;
  display: flex;
  min-height: 40px;
  white-space: wrap;
  overflow: hidden;
  text-align: center;
}

.newsContent {
  padding: 0 20px 20px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsLinkContainer {
  width: 90%;
  text-align: center;
  margin: 10px auto;
}

.newsLinkContainer a {
  padding: 10px 50px;
  background: #000;
  color: #ffedd4;
  border: 0 solid;
  border-radius: 4px;
  cursor: pointer;
}

hr {
  width: 70% !important;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e6d9ce;
  padding: 0;
}
